
        <div class="container-fluid">
            <div class="row  text-404">
                <div class="col-12 error-text">
                Oops! I think we have something broken...
                Can we try again?
                </div>
                <div class="col-12 col-sm-12 col-md-5 col-xl-4 buttons">
                    <a class="btn blue-btn" href="#">Leave a massage</a>
                    <a class="btn pink-btn" href="#">More comments</a>
                </div>
            </div>
        </div>
        <!--<div class="bg">-->
        <!--<div class="error404">-->
            <!--<div class="broken"></div>-->
            <!--<div class="error-text">-->
                <!--Oops! I think we have something broken...-->
                <!--Can we try again?-->
            <!--</div>-->
        <!--</div>-->
        <!--</div>-->
