<footer>
    <section>

    </section>
</footer>

<!-- Подключение JavaScript файлов -->
<script src="./js/jquery-3.3.1.slim.min.js"></script>
<!-- jQuery тогда вызов Bootstrap JS 4.3.1 -->
<script src="./js/bootstrap.min.js"></script>

<!-- Собственный простенький Г... код :) для динамического подключения CSS файлов согласно странице -->
<script>
    var path = window.location.pathname;
    var path = path.split('.').slice(0, -1).join('.').slice(1);
    if (path != '')document.querySelector('head').innerHTML += '<link rel="stylesheet" href="./css/'+path+'.min.css">';
    else document.querySelector('head').innerHTML += '<link rel="stylesheet" href="./css/index.min.css">';
</script>
<!-- Конец -->

</body>
</html>
