<footer>
    <section>
        <div class="container-fluid menu d-none d-xl-block text-center">
            <div class="container">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Order now</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">Guarantees</a></li>
                    <li><a href="#">Why us</a></li>
                    <li><a href="#">Discounts</a></li>
                    <li><a href="#">Prices</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="container-fluid information">
            <div class="container">
                <div class="row">
                    <div class="col d-none d-xl-block about">
                        <h3>About us</h3>
                        <p>Donec sem urna, molestie non erat eget, pellentesque lacinia enim. Maecenas mollis turpis et
                            risus blandit, sit amet laoreet nibh efficitur. Nam in nisi at lectus vestibulum rutrum. In
                            at euismod tellus, eu efficitur lorem. </p>
                    </div>
                    <div class="col d-none d-lg-block letters">
                        <h3>NewsLetter</h3>
                        <p>Subscribe to our MailChimp newsletter and stay up to date with all events coming straight in
                            your mailbox:</p>
                        <form action="?" class="letter" method="post">
                            <input class="input" placeholder="Your e-mail address" type="text">
                            <button class="submit"></button>
                        </form>
                    </div>
                    <div class="col d-none d-lg-block contacts">
                        <h3>Contact us</h3>
                        <div class="address"><address>57E11th St, New York, NY10003</address></div>
                        <div class="phone">Tel <a href="tel:+14804779127">+1(480)477-9127</a></div>
                        <div class="email">Email: <a href="mailto:great-Writings@ade.com">Great-Writings@ade.com</a></div>
                    </div>
                    <div class="col d-none d-lg-block links">
                        <h3>USEFUL LINKS</h3>
                        <ul>
                            <li><a href="#">General Information For Users</a></li>
                            <li><a href="#">Interactive Fairy Tales</a></li>
                            <li><a href="#">Official Storybook Maker Website</a></li>
                            <li><a href="#">Everyday Mathematics LinksBasic</a></li>
                            <li><a href="#">Knowledge and Experience</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                            © 2017. Great-Writings.com. All rights reserved
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>

<div class="d-flex fixed">
    <div class="dropdown dropup mr-1">
        <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" data-offset="10,20">Страницы сайта
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
            <a class="dropdown-item" href="index.html">Главная сайта</a>
            <a class="dropdown-item" href="404.html">Страница 404</a>
            <a class="dropdown-item" href="blog.html">Главная блог</a>
            <a class="dropdown-item" href="my_orders.html">Мои заказы</a>
            <a class="dropdown-item" href="order_form.html">Форма заказа</a>
            <a class="dropdown-item" href="text_page.html">Статья блога</a>
        </div>
    </div>
</div>

<!-- Подключение JavaScript файлов -->
<script src="./js/jquery-3.3.1.min.js"></script>
<!-- jQuery тогда вызов Bootstrap JS 4.3.1 -->
<script src="./js/bootstrap.min.js"></script>
<script src="./js/bootstrap.bundle.min.js"></script>
<!-- Подключение собственного JavaScript -->
<script src="./js/main.js"></script>

</body>
</html>
