<div class="container">
    <div class="row">
        <div class="col-12 text-center main-title">
            <h1>My Orders</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row my_orders">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <main>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link" id="nav-processing-tab" data-toggle="tab" href="#nav-processing"
                           role="tab" aria-controls="nav-processing" aria-selected="true">Processing Orders</a>
                        <a class="nav-item nav-link active" id="nav-completed-tab" data-toggle="tab"
                           href="#nav-completed" role="tab" aria-controls="nav-completed" aria-selected="false">Completed
                            Orders</a>
                    </div>
                </nav>
                <div class="tab-content bg-white rounded shadow" id="nav-tabContent">
                    <div class="tab-pane fade" id="nav-processing" role="tabpanel" aria-labelledby="nav-processing-tab">
                        <div class="alert alert-success">You do not have completed orders.</div>
                    </div>
                    <div class="tab-pane fade show active" id="nav-completed" role="tabpanel"
                         aria-labelledby="nav-completed-tab">
                        <div class="order_info">
                            <h3>Now processing(2)</h3>
                            <div class="table-responsive">
                                <table class="table table-borderless text-center">
                                    <thead>
                                    <tr>
                                        <th class="date_sort">Date</th>
                                        <th>Order ID</th>
                                        <th class="topic_sort">Title/topic</th>
                                        <th>Status</th>
                                        <th class="price_sort">Price</th>
                                        <th>Payments</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>18.05</th>
                                        <td>#6708440039</td>
                                        <td>cvhfgh</td>
                                        <td>Payment verification</td>
                                        <td>$ 27.65</td>
                                        <td>
                                            <div class="buy">Buy Now</div>
                                        </td>
                                        <td><a href="#" onclick="OpenDetails();">Order details</a></td>
                                    </tr>
                                    <tr>
                                        <th>18.05</th>
                                        <td>#6708440039</td>
                                        <td>cvhfgh</td>
                                        <td>Payment verification</td>
                                        <td>$ 27.65</td>
                                        <td>
                                            <div class="buy">Buy Now</div>
                                        </td>
                                        <td><a href="#" onclick="OpenDetails();">Order details</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="alert alert-success clearfix">
                                        <span class="float-left">Подробности заказа при нажатии ссылки "Order details" </span>
                                        <span class="float-right d-none d-sm-none d-md-block d-lg-block d-xl-block">👆</span>
                                        <span class="float-right d-sm-block d-md-none d-lg-none d-xl-none">👉</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order_details display_none">
                            <div class="row order-header">
                                <div class="col-9">
                                    <div class="order-back" onclick="CloseDetails();"></div>
                                    <div class="order-name">fdsfdd</div>
                                    Order ID: <span>#6708440039</span> Page price: <span>11.99</span> USD Pages: <span>1</span>
                                </div>
                                <div class="col-3 order-total">
                                    <span>Total price</span>
                                    <br/>
                                    <span class="sum">27.65 USD</span>
                                    <br/>
                                    Time left: <span>9d 21h 26m</span>
                                </div>
                            </div>
                            <div class="row order-menu">
                                <div class="col-9 col-md-10">
                                    <ul>
                                        <li><a href="#">ORDER DETAILS</a></li>
                                        <li><a href="#">MESSAGES 0 / 0</a></li>
                                        <li><a href="#">FILES 0 / 0</a></li>
                                        <li><a href="#">Additional order</a></li>
                                        <li><a href="#">Extend deadline</a></li>
                                    </ul>
                                </div>
                                <div class="col-3 col-md-2">
                                    <a href="#" class="pay">Pay Now</a>
                                </div>
                            </div>

                            <div class="order-data">
                                <div class="row">
                                    <div class="col">Subject</div>
                                    <div class="col">--</div>
                                </div>
                                <div class="row">
                                    <div class="col">Style</div>
                                    <div class="col">APA</div>
                                </div>
                                <div class="row">
                                    <div class="col">Sources</div>
                                    <div class="col">0</div>
                                </div>
                                <div class="row">
                                    <div class="col">Added</div>
                                    <div class="col">2017-05-18 15:49</div>
                                </div>
                                <div class="row">
                                    <div class="col">Type of assignment</div>
                                    <div class="col">Essay</div>
                                </div>
                                <div class="row">
                                    <div class="col">Discount</div>
                                    <div class="col">None</div>
                                </div>
                                <div class="row">
                                    <div class="col">Payment details</div>
                                    <div class="col">Waiting for payment</div>
                                </div>
                                <div class="row">
                                    <div class="col">Delivery</div>
                                    <div class="col">2017-05-29 15:49 <span>Extend deadline</span></div>
                                </div>
                                <div class="row bordless">
                                    <div class="col">Free revisions till: 2017-05-31 15:49</div>
                                </div>
                                <div class="row">
                                    <div class="col">Urgency</div>
                                    <div class="col">11 days</div>
                                </div>
                                <div class="row">
                                    <div class="col">Language</div>
                                    <div class="col">US writer</div>
                                </div>
                                <div class="row">
                                    <div class="col">Order status</div>
                                    <div class="col">Payment verification</div>
                                </div>
                                <div class="row">
                                    <div class="col">Additional services</div>
                                    <div class="col">None</div>
                                </div>
                                <div class="row">
                                    <div class="col">Writer level</div>
                                    <div class="col">High School</div>
                                </div>
                                <div class="row">
                                    <div class="col">Spacing</div>
                                    <div class="col">Double spaced</div>
                                </div>
                                <div class="row">
                                    <div class="col">Writer ID</div>
                                    <div class="col">No preferred writer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="d-none d-md-none d-lg-block col-lg-4 col-xl-4 sidebar">
            <div class="row">
                <div class="col-12 bg-white rounded shadow authorization">
                    <h3>Authorization</h3>
                    <div class="row account">
                        <div class="col">
                            <p>Account status: <span>standard</span></p>
                            <p>Your Discount: <span>0% [Update to 15%]</span></p>
                            <p>Discount code: <span>maxiaxia7@gmail.com</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="profile">Profile</p>
                            <p class="orders">Orders</p>
                            <p class="affiliates">Affiliate program</p>
                            <p class="logout">Logout</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>