.text-404 {
  background: url(../img/404.png) 50% 35%;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;


}

.error-text {
  position: relative;
  color: #2c3248;
  font-family: "Proxima Nova";
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
  top: 450px;
}

//.buttons {
//  margin-left: 33%;
//  margin-top: 30px;
//}