.btn {
  padding: 7px 20px;
  margin: 5px;
  border-radius: 20px;
}

.pink-btn {
  border: 2px solid #fff;
  background-image: linear-gradient(to top, #9219d7 0%, #c16ef0 100%);
  color: #fff;

  &:hover {
    color: #ba64eb;
    background-image: none;
    border: 2px solid #ba64eb;
  }
}

.blue-btn {
  border: 2px solid #fff;
  background-image: linear-gradient(to top, #5075e7 0%, #8cadf4 100%);
  color: #fff;

  &:hover {
    color: #6083ea;
    background-image: none;
    border: 2px solid #6083ea;
  }
}

.white-btn {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
  }
}

.badge {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  font-family: "Proxima Nova";
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding: 0.25em 0.4em;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.badge-pill {
  padding: .5em .9em;
  border-radius: 10rem;
}
.blue-badge {
  border: 1px solid #567be8;
  color: #567be8;
  &:hover {
    border: 1px solid lighten(#567be8, 10%);
    color: lighten(#567be8, 10%);
  }
}
.pink-badge {
  border: 1px solid #b85dec;
  color: #b85dec;
  &:hover {
    border: 1px solid lighten(#b85dec, 10%);
    color: lighten(#b85dec, 10%);
  }
}
.red-badge {
  border: 1px solid #ff4475;
  color: #ff4475;
  &:hover {
    border: 1px solid lighten(#ff4475, 10%);
    color: lighten(#ff4475, 10%);
  }
}