@import '_variables.scss';
main {
  .bg-image {
    background: url(../img/bg.svg) no-repeat;
    height: 700px;
    padding: 30px;

    .title {
      padding: 15px;
      color: #19152d;
      font-family: "Proxima Nova";
      font-size: 28px;
      font-weight: 400;
      text-align: center;

      span {
        color: #5378e8;
        font-size: 46px;
        text-transform: uppercase;
        @media screen and (max-width: 767px) {
          font-size: 30px;
        }
      }

      @media screen and (max-width: 767px) {
        padding: 15px;
        font-size: 20px;
      }
    }

    // ===================================
    // Фикс для красивого позиционирования
    // ===================================
    @media screen and (max-width: 576px) {
      padding: 5px 0;
      height: 630px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 576px) {
      padding: 5px 0;
      height: 630px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      padding: 45px 0;
      height: 450px;
      margin-bottom: 90px;
    }
    @media screen and (min-width: 992px) {
      padding: 25px 0;
      height: 420px;
      margin-bottom: 100px;
    }
    @media screen and (min-width: 1200px) {
      height: 620px;
    }
    // ===================================
    // ===================================

    .calculator {
      background-color: $white-color;
      height: 460px;
      padding: 20px 30px;

      form {
        span {
          display: block;
          color: #9824da;
          font-family: "Proxima Nova";
          font-size: 30px;
          font-weight: 400;
          margin-bottom: 20px;
          text-align: center;
        }

        .form-group {
          margin-bottom: 0.5rem;

          label {
            margin-left: 10px;
          }

          select {
            border: 1px solid #56a7dd;
            border-radius: 20px;
            color: #000;
          }
        }
      }

      @media (min-width: 1200px) {
        margin: 0 50px;
      }
    }
  }

  .about-us {
    p {
      color: #19152d;
      font-family: 'Proxima Nova';
      font-size: 20px;
      font-weight: 300;
      padding: 15px;
    }
  }

  .banner {
    height: 184px;
    background-color: #e7e7e7;
    color: $white-color;
    font-family: 'Proxima Nova - Semibold';
    font-size: 70px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 30px 0;
  }

  .linear-title {
    overflow: hidden;
    color: #19152d;
    font-family: 'Proxima Nova';
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 15px 0;

    &:before,
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      width: 100%;
      height: 2px;
      background-color: #898989;
      opacity: 0.2;
      border: solid $white-color;
      border-width: 0 10px;
    }

    &:before {
      margin-left: -100%;
    }

    &:after {
      margin-right: -100%;
    }
  }


  .choose-us {
    min-height: 530px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 30px;
    background: rgba(140, 173, 244, 1);
    background: -moz-linear-gradient(left, rgba(140, 173, 244, 1) 0%, rgba(80, 118, 231, 1) 50%, rgba(245, 245, 245, 1) 50%, rgba(245, 245, 245, 1) 100%);
    //background: -webkit-gradient(left top, right top, color-stop(0%, rgba(140, 173, 244, 1)), color-stop(50%, rgba(80, 118, 231, 1)), color-stop(50%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(245, 245, 245, 1)));
    background: -webkit-linear-gradient(left, rgba(140, 173, 244, 1) 0%, rgba(80, 118, 231, 1) 50%, rgba(245, 245, 245, 1) 50%, rgba(245, 245, 245, 1) 100%);
    background: -o-linear-gradient(left, rgba(140, 173, 244, 1) 0%, rgba(80, 118, 231, 1) 50%, rgba(245, 245, 245, 1) 50%, rgba(245, 245, 245, 1) 100%);
    background: -ms-linear-gradient(left, rgba(140, 173, 244, 1) 0%, rgba(80, 118, 231, 1) 50%, rgba(245, 245, 245, 1) 50%, rgba(245, 245, 245, 1) 100%);
    background: linear-gradient(to right, rgba(140, 173, 244, 1) 0%, rgba(80, 118, 231, 1) 50%, rgba(245, 245, 245, 1) 50%, rgba(245, 245, 245, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cadf4', endColorstr='#f5f5f5', GradientType=1);

    .why {
      min-height: 530px;
      color: $white-color;
      background: url(../img/star.svg) no-repeat 50% 40%;
      padding-top: 10%;
      padding-right: 7%;

      h2 {
        color: $white-color;
        font-family: "Proxima Nova";
        font-size: 47px;
        font-weight: 400;
        text-transform: uppercase;
      }

      p {
        color: $white-color;
        font-family: "Proxima Nova";
        font-size: 20px;
        font-weight: 300;
        line-height: 33px;
      }

      @media (max-width: 1200px) {
        h2 {
          text-align: center;
        }
        background-color: #8cadf4;
        //background-color: -moz-linear-gradient(left, #8cadf4 0%, #5076e7 100%);
        //background-color: -webkit-linear-gradient(left, #8cadf4 0%, #5076e7 100%);
        //background-color: linear-gradient(to right, #8cadf4 0%, #5076e7 100%);
        //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cadf4', endColorstr='#5076e7', GradientType=1);
        //background: url(../img/star.svg) no-repeat 50% 50%;
        padding: 17% 10%;
      }
    }

    .list {
      min-height: 530px;
      background-color: #f5f5f5;

      ol {
        padding-top: 10%;
        list-style: none;

        li {
          color: #19152d;
          font-family: "Proxima Nova";
          font-size: 17px;
          font-weight: 400;
          padding-left: 20px;
          margin: 10px;

          &:before {
            font-family: "FontAwesome";
            content: '\f00c';
            color: #5b80e9;
            line-height: 10px;
            padding-right: 15px;
          }
        }
      }
    }

    @media (max-width: 1200px) {
      background: none;
    }
  }


  .our-services {
    color: #19152d;
    font-family: 'Proxima Nova';
    font-size: 19px;
    font-weight: 300;
  }

  .steps {
    .first {
      .card {
        min-height: 225px;
        padding: 20px;

        .img {
          background: url(../img/Forma_1.svg) no-repeat 40% 35px;

          &:before {
            content: "";
            position: absolute;
            left: 85%;
            z-index: 2;
            top: 25%;
            width: 2px;
            height: 50%;
            background-color: #898989;
            opacity: 0.2;
          }
        }

        @media (max-width: 767px) {
          min-height: 300px;
          background: url(../img/Forma_1.svg) no-repeat 50% 35px;
          &:before {
            content: "";
            position: absolute;
            top: 150px;
            z-index: 2;
            left: 25%;
            width: 50%;
            height: 2px;
            background-color: #898989;
            opacity: 0.2;
          }
        }

        .card-body {
          p {
            font-size: 14px;
          }

          @media (max-width: 767px) {
            margin-top: 170px;
          }
        }

        &:hover {
          transform: rotate(-1deg) scale(1.04);
          filter: grayscale(100%);
          z-index: 2;
        }
      }
    }

    .second {
      .card {
        min-height: 225px;
        padding: 20px;

        .img {
          background: url(../img/Forma_2.svg) no-repeat 40% 35px;

          &:before {
            content: "";
            position: absolute;
            left: 85%;
            z-index: 2;
            top: 25%;
            width: 2px;
            height: 50%;
            background-color: #898989;
            opacity: 0.2;
          }
        }

        @media (max-width: 767px) {
          min-height: 300px;
          background: url(../img/Forma_2.svg) no-repeat 50% 35px;
          &:before {
            content: "";
            position: absolute;
            top: 150px;
            z-index: 2;
            left: 25%;
            width: 50%;
            height: 2px;
            background-color: #898989;
            opacity: 0.2;
          }
        }

        .card-body {
          p {
            font-size: 14px;
          }

          @media (max-width: 767px) {
            margin-top: 170px;
          }
        }

        &:hover {
          transform: rotate(1deg) scale(1.04);
          filter: grayscale(100%);
          z-index: 2;
        }
      }
    }

    .third {
      .card {
        min-height: 225px;
        padding: 20px;

        .img {
          background: url(../img/Forma_3.svg) no-repeat 40% 35px;

          &:before {
            content: "";
            position: absolute;
            left: 85%;
            z-index: 2;
            top: 25%;
            width: 2px;
            height: 50%;
            background-color: #898989;
            opacity: 0.2;
          }
        }

        @media (max-width: 767px) {
          min-height: 300px;
          background: url(../img/Forma_3.svg) no-repeat 50% 35px;
          &:before {
            content: "";
            position: absolute;
            top: 150px;
            z-index: 2;
            left: 25%;
            width: 50%;
            height: 2px;
            background-color: #898989;
            opacity: 0.2;
          }
        }

        .card-body {
          p {
            font-size: 14px;
          }

          @media (max-width: 767px) {
            margin-top: 170px;
          }
        }

        &:hover {
          transform: rotate(1deg) scale(1.04);
          filter: grayscale(100%);
          z-index: 2;
        }
      }
    }

    .fourth {
      .card {
        min-height: 225px;
        padding: 20px;

        .img {
          background: url(../img/Forma_4.svg) no-repeat 40% 35px;

          &:before {
            content: "";
            position: absolute;
            left: 85%;
            z-index: 2;
            top: 25%;
            width: 2px;
            height: 50%;
            background-color: #898989;
            opacity: 0.2;
          }
        }

        @media (max-width: 767px) {
          min-height: 300px;
          background: url(../img/Forma_4.svg) no-repeat 50% 35px;
          &:before {
            content: "";
            position: absolute;
            top: 150px;
            z-index: 2;
            left: 25%;
            width: 50%;
            height: 2px;
            background-color: #898989;
            opacity: 0.2;
          }
        }

        .card-body {
          p {
            font-size: 14px;
          }

          @media (max-width: 767px) {
            margin-top: 170px;
          }
        }

        &:hover {
          transform: rotate(-1deg) scale(1.04);
          filter: grayscale(100%);
          z-index: 2;
        }
      }
    }
  }

  .service-cards {
    .book-reports {
      box-shadow: 4px 2px 8px rgba(185, 185, 185, 0.75);
      background-image: linear-gradient(to top, #9219d7 0%, #c16ef0 100%);
    }

    .resume-writing {
      box-shadow: 4px 2px 8px rgba(185, 185, 185, 0.75);
      background-image: linear-gradient(to top, #fd517e 0%, #fa6f94 100%);
    }

    .case-studies {
      box-shadow: 4px 2px 8px rgba(185, 185, 185, 0.75);
      background-image: linear-gradient(to top, #5075e7 0%, #8cadf4 100%);
    }

    .card {
      max-width: 550px;
      margin: 15px 0;
      color: $white-color;
      border: none;

      .card-text {
        min-height: 160px;
        font-size: 18px;
        margin-top: 40px;
      }

      &:hover {
        transform: scale(1.05);
      }

      .card-body {
        h3 {
          font-size: 33px;
        }

        a {
          &:hover {
            transform: rotateY(360deg);
            transition: .6s ease-out;
          }
        }
      }
    }
  }

  .interesting-services-cards {
    position: relative;
    height: 260px;

    .customer {
      height: 260px;
      background: url(../img/customer.svg) no-repeat 50% 0;
      position: absolute;

      .icon-block {
        height: 151px;
        box-shadow: 2px 4px 8px rgba(185, 185, 185, 0.75);
        background-color: $white-color;
        margin-top: 60px;
        position: relative;
        z-index: -1;
        padding: 35px 15px 15px 15px;

        h5 {
          font-family: "Proxima Nova";
          font-weight: 600;
          line-height: 5px;
          text-align: center;
          margin-top: 20px;
        }

        p {
          font-family: "Proxima Nova";
          font-weight: 300;
          line-height: 20px;
          text-align: center;
          padding: 5px 25px 15px 25px;
        }
      }

      &:hover {
        position: absolute;
        top: -15px;
      }

      @media (max-width: 992px) {
        width: 94%;
        margin-top: 0;
      }

    }

    .privacy {
      height: 260px;
      position: absolute;
      background: url(../img/privacy.svg) no-repeat 50% 0;

      .icon-block {
        height: 151px;
        box-shadow: 2px 4px 8px rgba(185, 185, 185, 0.75);
        background-color: $white-color;
        margin-top: 60px;
        position: relative;
        z-index: -1;
        padding: 35px 15px 15px 15px;

        h5 {
          font-family: "Proxima Nova";
          font-weight: 600;
          line-height: 5px;
          text-align: center;
          margin-top: 20px;
        }

        p {
          font-family: "Proxima Nova";
          font-weight: 300;
          line-height: 20px;
          text-align: center;
          padding: 5px 25px 15px 25px;
        }
      }

      &:hover {
        position: absolute;
        top: -15px;
      }

      @media (max-width: 992px) {
        width: 94%;
        margin-top: 250px;
      }
    }

    .delivery {
      height: 260px;
      position: absolute;
      background: url(../img/delivery.svg) no-repeat 50% 0;

      .icon-block {
        height: 151px;
        box-shadow: 2px 4px 8px rgba(185, 185, 185, 0.75);
        background-color: $white-color;
        margin-top: 60px;
        position: relative;
        z-index: -1;
        padding: 35px 15px 15px 15px;

        h5 {
          font-family: "Proxima Nova";
          font-weight: 600;
          line-height: 5px;
          text-align: center;
          margin-top: 20px;
        }

        p {
          font-family: "Proxima Nova";
          font-weight: 300;
          line-height: 20px;
          text-align: center;
          padding: 5px 25px 15px 25px;
        }
      }

      &:hover {
        position: absolute;
        top: -15px;
      }

      @media (max-width: 992px) {
        width: 94%;
        margin-top: 500px;
      }
    }

    @media (max-width: 992px) {
      height: 750px;
    }
  }
}