@import '_variables.scss';
.main-title {
  color: #2c3248;
  font-family: "Proxima Nova - Semibold";
  font-size: 50px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding: 40px 10px 20px 10px;
}

.display_none {
  display: none;
}

.my_orders {
  margin-bottom: 40px;

  .nav-tabs {
    border-bottom: 1px solid transparent;
    margin-left: 20px;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ff4475;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 400;
    border: 1px solid $white-color;
    background-color: $white-color;
  }

  .nav-tabs .nav-link {
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    box-shadow: 0px -1px 5px rgba(187, 187, 187, 0.75);
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 400;
  }

  .tab-content {
    padding: 25px;

    h3 {
      color: #b85dec;
      font-family: "Proxima Nova";
      font-size: 30px;
      font-weight: 400;
    }

    .alert-success {
      background-color: rgba(114, 185, 16, 0.02);
      color: #5175e7;
      font-family: "Proxima Nova";
      font-size: 20px;
      font-weight: 300;
      border-radius: 20px;
      border: 1px solid #72b910;
      margin-top: 15px;
    }
  }

  .table {
    color: #2c3248;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;

    thead {
      tr {
        border-bottom: 1px solid #5175e7;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #e1e1e1;
      }

      .buy {
        background-color: #87a8f3;
        color: $white-color;
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: 300;
        border-radius: 20px;
        padding: 5px;
        height: 27px;
        width: 65px;
        text-align: center;

        &:hover {
          background-color: lighten(#87a8f3, 10%);
          cursor: pointer;
        }
      }
    }

    .date_sort {
      &:after {
        font-family: "FontAwesome";
        content: '\f107';
        color: #2c3248;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        padding-right: 13px;
        position: relative;
        top: 6px;
        left: 5px;
      }
    }

    .topic_sort {
      &:before {
        font-family: "FontAwesome";
        content: '\f106';
        color: #2c3248;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        padding-right: 13px;
        position: relative;
        bottom: 3px;
        left: 90.5px;
      }

      &:after {
        font-family: "FontAwesome";
        content: '\f107';
        color: #2c3248;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        padding-right: 13px;
        position: relative;
        top: 6px;
        left: 5px;
      }
    }

    .price_sort {
      &:before {
        font-family: "FontAwesome";
        content: '\f106';
        color: #2c3248;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        padding-right: 13px;
        position: relative;
        bottom: 3px;
        left: 60.5px;
      }

      &:after {
        font-family: "FontAwesome";
        content: '\f107';
        color: #2c3248;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        padding-right: 13px;
        position: relative;
        top: 6px;
        left: 5px;
      }
    }
  }
}

.sidebar {
  .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .authorization {
    h3 {
      color: #5175e7;
      font-family: "Proxima Nova";
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      padding: 20px;
    }

    .account {
      line-height: 15px;

      span {
        font-weight: bold;
      }
    }

    .profile {
      padding-left: 2px;

      &:before {
        font-family: "FontAwesome";
        content: '\f007';
        color: #2c3248;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        padding-right: 13px;
      }

      &:hover {
        color: #5175e7;
        cursor: pointer;
      }
    }

    .orders {
      &:before {
        font-family: "FontAwesome";
        content: '\f187';
        color: #2c3248;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        padding-right: 10px;
      }

      &:hover {
        color: #5175e7;
        cursor: pointer;
      }
    }

    .affiliates {
      padding-left: 2px;

      &:before {
        font-family: "FontAwesome";
        content: '\f295';
        color: #2c3248;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        padding-right: 13px;
      }

      &:hover {
        color: #5175e7;
        cursor: pointer;
      }
    }

    .logout {
      padding-left: 3px;

      &:before {
        font-family: "FontAwesome";
        content: '\f08b';
        color: #2c3248;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        padding-right: 10px;
      }

      &:hover {
        color: #FF0000;
        cursor: pointer;
      }
    }
  }
}


@import 'order_details.scss';